.app {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #404d60;
}

.profile {
  position: absolute;
  z-index: 10;
  top: 37%;
  left: 47%;
}

.game {
  position: absolute;
  z-index: 10;
  top: 44%;
  left: 52%;
}

.blackboard {
  position: absolute;
  z-index: 10;
  top: 24%;
  left: 29%;
}
